@CHARSET "UTF-8";
body {
	font-family: 'Ubuntu Mono', sans-serif;
	font-size: 16px;
	padding:0px;
	margin:0;
}

a {	
	color: #000; 
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
h3 {
	margin:0px; 
	padding: 5px;
}


#corpo { 
	text-align: center; 
	margin: 0 auto; 
	width: 95%;
}

#top { 
	margin-top: 10px;
	text-align:left;
	color: #f0f0f0;
	position:relative;
	background: #5773aa; /* Old browsers */
	background: -moz-linear-gradient(top,  #5773aa 10%, #2a3e6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#5773aa), color-stop(100%,#2a3e6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5773aa 10%,#2a3e6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5773aa 10%,#2a3e6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5773aa 10%,#2a3e6b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5773aa 10%,#2a3e6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5773aa', endColorstr='#2a3e6b',GradientType=0 ); /* IE6-9 */

	border-radius: 12px;
	border: 1px solid #2a3e6b;
	
}

#top h1 {  
	margin:5px;
	margin-right: 70px; 
	padding:7px 5px;
	text-shadow: 1px 0px 5px #a0a0a0;
	
}
#top #logo {
	margin: 5px;
	position:absolute;
	top:5px;
	right: 5px;
}


.content { 
	text-align: left; 
	background-image: url(../../assets/img/content-bg.jpg);
	display:table;
	width: 100%;
	margin-top: 5px;
	border-radius: 12px;
	border: 1px solid #fde8d9;
	padding:10px;
	
}

#menu { 
	padding: 0px; 
	margin: 0px;  
}
#menu ul { 
	margin:0; 
	padding:0px; 
}
#menu ul li {
	list-style:none;  
	float:left; 
	margin: 5px;
}
#menu ul li a { 
	display: block; 
	padding: 5px; 
	text-decoration: none; 
	color: #000;
}
#content { 
	clear:both;
}

#link-conteiner { 
	padding:5px;
}

.tabela-dados {
	border-collapse:collapse; 
	border: solid 1px #d7d7d7; 
	border-bottom:0px; 
	margin:0; 
	width: 100%;
}
.tabela-dados .title { 
	font-weight: bolder; 
	font-size: 16px; 
	background-color: #548ab1;
	padding: 10px;
	color: #FFF;
}
.tabela-dados td { 
	border-bottom: 
	solid 1px #d7d7d7; 
	padding: 10px; 
	margin:0;
}
.tabela-dados select, input[type="text"], input[type="password"], textarea { 
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	border: solid 1px #d7d7d7;
	padding:5px;
}


@media screen and (max-width: 980px) {

}

@media screen and (max-width: 650px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}

@media screen and (max-width: 240px){
	
}
